body {
  background-color: #c7cbe4;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style: none;
}
h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}
img {
  vertical-align: middle;
}
.nav-main {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.nav-menu ul li {
  display: inline-block;
  padding-left: 20px;
}
.nav-menu ul li a {
  color: #000;
  font-size: 16px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: relative;
}
.nav-menu ul li a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  left: 0;
  bottom: -10px;
  background: #d57589;
  transition: 1s;
  opacity: 0;
}
.nav-menu ul li a:hover::after {
  opacity: 1;
}
.nav-menu ul li a:hover {
  color: #f96b7b;
}
.nav-logo h6 {
  font-weight: 900;
  font-size: 25px;
  padding-top: 10px;
  color: #ea585f;
  text-transform: uppercase;
  font-family: cursive;
}
.button-logo i {
  padding-left: 20px;
  color: #000;
}
.button-logo i:hover {
  color: #ea585f;
}
.container {
  width: 1170px;
  margin: 0 auto;
}
h2 {
  text-transform: uppercase;
  margin: 0;
  opacity: 0.9;
}
nav na.item-holder,
nav button {
  margin-left: 10px;
}

nav a {
  font-weight: 600;
  color: white;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

button {
  background: linear-gradient(180deg, #ea585f 0%, #f96b7b 100%);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
  text-transform: uppercase;
}

button:hover {
  transform: scale(1.1);
}
.top {
  position: relative;
  margin-bottom: -12%;
  width: 103%;
  z-index: 2;
  pointer-events: none;
}
.header {
  width: 100%;
  pointer-events: none;
}
.content {
  position: relative;
  background: #ffc7a3;
  background: linear-gradient(90deg, #d57589 0%, #ffc7a3 100%);
  border-radius: min(5vw, 50px);
  padding: 5%;
  padding-top: 10%;
  padding-bottom: 0;
  left: 1.7%;
  width: 94.7%;
  box-sizing: border-box;
  text-transform: uppercase;
}
.content::after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: #4b0632;
  width: 100%;
  height: 100%;
  transform: translate(-10%, 10%);
  filter: blur(40px);
  mix-blend-mode: overlay;
  z-index: -1;
}
nav a {
  font-weight: 600;
  color: white;
  text-decoration: none;
  padding: 20px;
}
nav a:first-child {
  padding-left: 0;
}
.grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: min(3vw, 30px);
  position: relative;
  top: 10px;
}
.item-holder {
  position: relative;
  width: 100%;
}
.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 20px 5px 15px 15px;
  box-shadow: -5px 8px 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.item-holder::after,
.item-holder::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: black;
  width: 100%;
  height: 100%;
  display: block;
}
.item-holder::after {
  height: 100%;
  width: 120%;
  transform-origin: top left;
  transform: translate(15px, 0) rotate(45deg);
  filter: blur(5px);
  mix-blend-mode: multiply;
  background: linear-gradient(
    180deg,
    rgba(17, 59, 81, 1) 0%,
    rgba(17, 59, 81, 0.4) 30%,
    rgba(17, 59, 81, 0) 50%
  );
  opacity: 0.2;
}
.item-holder::before {
  transform: translate(-10%, 10%);
  mix-blend-mode: overlay;
  filter: blur(20px);
  z-index: 1;
  opacity: 0.8;
}
.item-holder img {
  width: 100%;
  flex: 1;
  object-fit: contain;
}
.item-holder .label {
  font-size: 0.7rem;
  padding: 20px 2em;
  box-sizing: border-box;
  text-transform: uppercase;
}
.item-holder:nth-child(1) .item {
  background-color: #fdf9e2;
  background-image: linear-gradient(90deg, #ecd6d8 0%, #f9e2d2 100%);
}
.item-holder:nth-child(2) .item,
.item-holder:nth-child(7) .item {
  background-color: #e4b3fa;
  background-image: linear-gradient(90deg, #bf92f1 0%, #e4b3fa 100%);
}
.item-holder:nth-child(3) .item {
  background-color: #9fffd6;
  background-image: linear-gradient(90deg, #69e7b7 0%, #9fffd6 100%);
}
.item-holder:nth-child(4) .item,
.item-holder:nth-child(8) .item {
  background-color: #fdf5d2;
  background-image: linear-gradient(90deg, #febea7 0%, #fdf5d2 100%);
}
.item-holder:nth-child(5) .item {
  background-color: #ff8e80;
  background-image: linear-gradient(90deg, #fd556b 0%, #ff8e80 100%);
}
.item-holder:nth-child(6) .item {
  background-color: #ffd054;
  background-image: linear-gradient(90deg, #f89e27 0%, #ffd054 100%);
}
#result{
  color: #2d1307;
}
.result-header{
  text-align: center;
  padding-top: 40px;
}
.result-header h1{
  font-size: 150px;
  font-weight: 900;
}
.result-header span {
	color: #ea585f;
	font-family: cursive;
	font-size: 32px;
	position: relative;
	left: -60px;
	top: -25px;
}
.result-header h4{
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
}
.result-main{
  display: flex;
  justify-content: space-between;
}
.result-text{
  padding-top: 100px;
}
.result-text h2{
  font-size: 30px;
  font-weight: 800;
  letter-spacing: 2px;
line-height: 50px;
}
.result-text p{
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 2px;
  line-height: 30px;
  padding:  30px 0;
}
.seabu-header h1{
  font-size: 157px;
  font-weight: 900;
  letter-spacing: 6px;
}
.seabu-main-img img {
	position: relative;
	left: 115px;
	top: -80px;
}
.seabu{
  margin-top: -88px;
}
.seabu-text-img{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}
.seabu-text{
  width: 440px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 25px;
  padding-top: 50px;
}
#icecream-lover h1 {
	padding-top: 100px;
	font-size: 58px;
	font-weight: 900;
	color: #2d1307;
	letter-spacing: 4px;
	padding-left: 70px;
}
#icecream-lover img{
  position: relative;
  top: 0;
  left: 0;
}
#icecream-lover img {
	position: relative;
	top: -45px;
	left: 410px;
}
.icecream-main{
  display: flex;
  justify-content: space-between;
}
.icecram-lover-box{
  position: relative;
  top: -150px;
}
.icecram-lover-box h5,.icecram-lover-box-two h5{
  font-size: 20px;
}
.icecram-lover-box i,.icecram-lover-box-two i{
  color: gold;
  padding-top: 10px;
  padding-bottom: 20px;
}
.icecram-lover-box p,.icecram-lover-box-two p{
  letter-spacing: 2px;
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  width: 370px;
}
.icecram-lover-box-two {
	position: relative;
	top: -200px;
	left: 410px;
}
footer{
  background: gray;
  padding: 80px  0;
}
.footer-main{
  display: flex;
  justify-content: space-around;
}
.footer-main img {
	position: relative;
	top: -157px;
	left: -75px;
}
.footer-one h5{
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  color: #2d1307;
}
.footer-one p{
  padding-top: 20px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 25px;
  color: #fff;
}